:root {
  /* Color scheme */
  --prim-black-one: rgb(41, 79, 80);
  --prim-black-two: rgb(52, 70, 76);
  --prim-black-three: #ffffff7a;
  --prim-black-four: rgb(25, 47, 54);
  
  --prim-green-one: #00C9A5;
  --prim-green-two: #00AD8C;

  --prim-col-disable: #888;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

/* App body CSS */
.App-body {
  overflow: hidden;
  padding: 0vh 0vh;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  /* background-image: linear-gradient(0deg, var(--prim-black-two), var(--prim-black-one)), url(../img/topography.svg); */
  background-color: var(--prim-black-one);
  background-blend-mode: screen;
  background-repeat: unset;
  height: 100vh;
}


/* .App-header {
  background-color: #282c34;
  min-height: 0vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
