.button--general  {
    color: var(--prim-green-one);
    background: var(--prim-green-one);
    border-radius: 15px;
    font-weight: 600;
    width: 80%;
    height: 40px;
    z-index: 1;
}

.switch-field {
	margin-top: 8vh;
}

.switch-field input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.switch-field label {
	background-color: var(--prim-col-disable);
	color: #fff;
	font-size: 1em;
	line-height: 1;
	text-align: center;
	padding: 2vh 10vw;
	margin-right: -1px;
	transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
	cursor: pointer;
}

.switch-field input:checked + label {
	background-color: var(--prim-green-four);
	box-shadow: none;
}

.switch-field label:first-of-type {
	border-radius: 25px 0 0 25px;
}

.switch-field label:last-of-type {
	border-radius: 0 25px 25px 0;
}