
.ContentBar{
    font-family: 'Abel', sans-serif;
    width: 20%;
    height: 100%;
    border-bottom-left-radius: inherit;
    color:white;
    z-index: 20;
    float:left;
    position:fixed;
    left:5%;
    opacity:1;
}
.wrapper {
    height:100%;
    width: auto;
    background: var(--prim-black-two); 
    display: grid;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-row: 1;
    background-image: inherit;
    /* height:31%; */
  }
  .two { 
    grid-row: 2;
    /* background-image: inherit; */
    /* height:23% */
}

  .three {
    grid-row: 3;
    /* background-image: inherit; */
    /* height:23% */
    
  }

  .four {
    grid-row: 4;
    /* background-image: inherit; */
    /* height:23% */
  }


.identicon:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #ffffff78;
}
.blockie{
  height:120px;
  width:120px;
  display: contents;
}

.UserLogo{
    margin-top: 10%;
    height:100%;
    width:auto;
}

.content-header{
  color: var(--prim-green-two);
}

.content-text{
  word-wrap: break-word;
  font-size: 0.75rem;
  color: var(--prim-black-three);
}

.content-text:hover{
  color: var(--prim-black-three);
}

.largeText{
  font-size: 3rem;
}

.container__user__address{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
} 

.side-nav__link{
  width: 1.8rem;
  height: 18px;
  padding-top: 25px;
  fill:white;
  top: -50px;
}

.content-header{
  display:inline-block;
}



/* .bottomBorder{
  border-style: solid;
  border-color: var(--prim-gold-two);
  border-right:none;
  border-top:none;
  border-left:none;
} */