
.ContentBar{
    font-family: 'Abel', sans-serif;
    width: 20%;
    height: 100%;
    border-bottom-left-radius: inherit;
    color:white;
    z-index: 20;
    float:left;
    position:fixed;
    left:5%;
    opacity:1;
    border-width: 2px;
    border-style: solid;
    border: none;
    border-right: 2px solid;
    border-image: linear-gradient(90deg,var(--prim-green-two),transparent);
}
.wrapper {
    height:100%;
    width: auto;
    background-image: linear-gradient(180deg,var(--prim-black-two), var(--prim-black-four));
    display: grid;
    grid-auto-rows: minmax(100px, auto);
  }
  .one {
    grid-row: 1;
    /* background-image: inherit; */
    /* height:31%; */
  }
  .two { 
    grid-row: 2;
    /* background-image: inherit; */
    /* height:23% */
}

  .three {
    grid-row: 3;
    /* background-image: inherit; */
    /* height:23% */
    
  }

  .four {
    grid-row: 4;
    /* background-image: inherit; */
    /* height:23% */
  }


.identicon:hover{
  cursor: pointer;
  box-shadow: 0px 0px 20px 0px #ffffff78;
}
.blockie{
  display: block;
}

.UserLogo{
    height:100%;
    width:auto;
}

.content-header{
  color: var(--prim-green-two);
}

.content-text{
  word-wrap: break-word;
  font-size: .75rem;
  color: var(--prim-black-three);
}

.content-text:hover{
  color: var(--prim-col-disable);
}

.largeText{
  font-size: 3rem;
}

.container__user__address{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
} 

.side-nav__link{
  width: 1.8rem;
  height: 18px;
  padding-top: 25px;
  fill: var(--prim-green-one);
  vertical-align: sub;
}

.content-header{
  display:inline-block;
}



/* .bottomBorder{
  border-style: solid;
  border-color: var(--prim-gold-two);
  border-right:none;
  border-top:none;
  border-left:none;
} */

.transition{
  -webkit-animation: pulse 10s alternate; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: pulse 10s alternate; /* Firefox < 16 */
   -ms-animation: pulse 10s alternate; /* Internet Explorer */
    -o-animation: pulse 10s alternate; /* Opera < 12.1 */
       animation: pulse 10s alternate;
    animation-iteration-count: infinite;
  }
  @keyframes pulse {
      0% { opacity: 0; }
      50%   { opacity: 0.8; }
      100% { opacity:0}
    }
    
    /* Firefox < 16 */
    @-moz-keyframes pulse {
      0% { opacity: 0; }
      50%   { opacity: 0.8; }
      100% { opacity:0}
    }
    
    /* Safari, Chrome and Opera > 12.1 */
    @-webkit-keyframes pulse {
      0% { opacity: 0; }
      50%   { opacity: 0.8; }
      100% { opacity:0}
    }
    
    /* Internet Explorer */
    @-ms-keyframes pulse {
      0% { opacity: 0; }
      50%   { opacity: 0.8; }
      100% { opacity:0}
    }