

.Main {
    overflow:hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    /* border-radius: 10px; */
    width: 90%;
    height: 95vh;
    box-shadow:
  0 40.8px 20.2px rgba(0, 0, 0, 0.134),
  0 40.7px 50.3px rgba(0, 0, 0, 0.148),
  0 40.5px 20px rgba(0, 0, 0, 0.16),
  0 40.3px 27.9px rgba(0, 0, 0, 0.172),
  0 41.8px 33.4px rgba(0, 0, 0, 0.186),
  0 50px 40px rgba(0, 0, 0, 0.12);
}

.Main-Content {
    overflow: hidden;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    width: 100%;
    height: 100%;
    position:fixed;
    display: flex;
    flex-direction: row-reverse;
    bottom: 0px;
    background-color: inherit;
    background-blend-mode: soft-light;

}


  