.MainView {
    font-size: 2rem;
    background:linear-gradient(225deg,#ffffff40,transparent);
    border-bottom-right-radius: inherit;
    display:flex;
    height: 100%;
    right: 0px;
    bottom: 0px;
    position: fixed;
}