.SideBar{
    background: linear-gradient(0deg,#532D4A, #773854, #8B3E59);
    width: 5%;
    height: 100%;
    border-bottom-left-radius: inherit;
    color:white;
    z-index: 20;
    float:left;
    position:fixed;
    left:0;
    opacity:1;

    color: white;
    border-width: 2px;
    border-style: solid;
    border-image: 
        radial-gradient(
            orange,transparent
        ) 20 20 20 20;
        border-top: none;
        border-bottom: none;
        border-left: none;
}

.transitionIn{
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
     -ms-animation: fadein 7s; /* Internet Explorer */
      -o-animation: fadein 7s; /* Opera < 12.1 */
         animation: fadein 7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.ItemContainer{
    display:grid;
}

.SideBarItem {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30%;
    padding-bottom:30%;
    /* border-style: solid; */
    /* border-color: rgba(170,96,63,0.5); */
    border-right:none;
    border-top:none;
    border-left:none;
}

.SideBarItem:hover{
    fill:white;
    color:white;
    background: linear-gradient(270deg,#793954, rgba(225, 134, 95, 0.452));
} 

.active{
    fill:white;
    color:white;
    background: linear-gradient(270deg,#793954,rgba(225, 134, 95, 0.452));
}

.SideBarIcon {
    height: 2rem;
    fill: #E1865F;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.SideBarIcon:hover{
    fill:#EAA98C;
}