
.SideBar{
    width: 5%;
    height: 100%;
    border-bottom-left-radius: inherit;
    z-index: 20;
    float:left;
    position:fixed;
    left:0;
    opacity:1;
    border-width: 2px;
    border-style: solid;
    border: none;
    border-right: 2px solid var(--prim-green-five);
    background: var(--prim-green-one)
  
}

.transitionIn{
    -webkit-animation: fadein 7s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 7s; /* Firefox < 16 */
     -ms-animation: fadein 7s; /* Internet Explorer */
      -o-animation: fadein 7s; /* Opera < 12.1 */
         animation: fadein 7s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Safari, Chrome and Opera > 12.1 */
  @-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }
  
  /* Internet Explorer */
  @-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

.ItemContainer{
    display:grid;
}

.SideBarItem {
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 30%;
    padding-bottom:30%;
    /* border-style: solid; */
    /* border-color: rgba(170,96,63,0.5); */
    border-right:none;
    border-top:none;
    border-left:none;
}

.SideBarItem:hover{
    fill:white;
    color:white;
    background: var(--prim-green-two);
} 

.active{
    fill:white;
    color:white;
    background: var(--prim-green-two);
}

.SideBarIcon {
    height: 2rem;
    fill: var(--prim-green-four);
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.SideBarIcon:hover{
    fill:var(--prim-green-five);
}